:root {
    --color-destaque: #1ED760;
    --color-bg-destaque: #464646;
    --color-primary: #000;
    --color-secondary: #EEE;
    --color-tertiary: #111;
    --font-text: 'Arial', sans-serif;
    --font-size-title: 20px;
    --font-size-text: 14px;
    --radius-content: 8px;
}

body{
    background-color: var(--color-primary);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-content);
    padding: 16px;
    height: fit-content;
}

.logo img{
    width: 100px;
    margin-top: 16px;
    padding: 10px 10px 0 10px;
}

.sidebar nav ul {
    margin: 25px 0 25px 0;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px
}

.sidebar nav ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;;
    width: fit-content;
    padding: 10px 0
}

/* ÍCONES */

.fa-solid {
    font-size: 20px;
    padding: 0 10px;   
}

.fa-plus {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-title);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    width: fit-content;
}


/* LIBRARY */


.library {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-content);
    margin-top: 16px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.library__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline; 
    margin-right: 16px;
}

.library button {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    width: fit-content;
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align: center;
    background-color: var(--color-bg-destaque);
    color: var(--color-secondary);
    border-radius: 25px;
    font-family: var(--font-text);
    font-size: var(--font-size-title);
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    height: fit-content;
}

.playlist .text {
    padding: 5px
}

.playlist .subtitle {
    font-size: var(--font-size-text);
    margin-bottom: 20px;
    font-weight: 500;
}

.playlist__button span {
    color: var(--color-primary);
    padding: 10px 20px; 
    border-radius: 2rem;
    background-color: var(--color-secondary);
}


.cookies a {
    color: var(--color-bg-destaque);
    margin: 40px;
    text-decoration: none;
    font-weight: 400;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    width: fit-content;
}

.languages__button div {
    display:flex;
    align-content: flex-end;
    margin-left: 16px;
    padding: 8px 8px 8px 0;
    border-radius: 2rem;
    border: 2px solid var(--color-secondary)
}

.languages__button div span {
    align-self: center;
}


/* FOOTER */

footer .footer__content {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0

}


.footer__content {
    display: flex;
    background: rgb(255,47,160);
background: linear-gradient(90deg, rgba(255,47,160,1) 4%, rgba(63,94,251,1) 74%);
    justify-content: center;
}

.footer__content__text {
    display:flex;
    flex-direction: column;
    color: var(--color-secondary);
    font-family: var(--font-text);
    padding: 16px;
    margin: 10px;
    justify-content: center;
    gap: 5px;
}

.footer__content__button {
    padding: 5%;

}

.footer__content__button span {
    color: var(--color-primary);
    padding: 10px 20px; 
    border-radius: 2rem;
    background-color: var(--color-secondary);

}




/* HOVER */

.fa-plus:hover,
.library__head button:hover,
.languages_button:hover,
.sidebar ul li a:hover,
.languages div:hover {
    color: var(--color-destaque);
}


.playlist button span:hover {
    background-color: var(--color-destaque);
}

.cookies a:hover,
.footer__content__button span:hover {
    text-decoration: underline;
}

