:root {
    --color-destaque: #1ED760;
    --color-primary: #121212;
    --color-secondary: #EEE;
    --color-tertiary: #393E46;
    --font-nav: 'Arial', sans-serif;
    --font-size-nav: 1rem;

}

body{
    background-color: var(--color-primary);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.logo,
.sidebar__navigation,
.library {
    background-color: var(--color-tertiary);
    border-radius:8px;
    padding: 16px 0 0 16px;
}

.logo{
    display: flex;
}

.logo img{
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li,
.library ul li{
    padding: 10px 0;
}

.sidebar nav ul li a,
.library ul li a{
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-nav);
    font-family: var(--font-nav);
}

.sidebar nav ul li a:hover,
.library ul li a:hover {
    color: var(--color-destaque);
}

.library {
    display: block;
    margin-top: 10px;
}

.library ul {
    padding: 0 20px 10px 20px;
}

.library ul li{
    display: flex;
    align-content: space-between;
    gap: 50%;
}
