
/* ASIDE */

.sidebar {
    margin: 1% 0 1% 1%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0,75rem;
    width: 30vw;
}

.sidebar__navigation {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-content);
    padding: 1rem;
    height: min-content;
}

.logo img{
    width: 5rem;
    margin-top: 1rem;
    padding: 0.625rem;
}

.sidebar nav ul {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.75vh
}

.sidebar nav ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;;
    width: fit-content;
    padding: 1.23vh 0
}

/* ÍCONES */

.fa-solid {
    font-size: 1.25rem;
    padding: 0 1.38vw;   
}

.fa-plus {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-title);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    padding: 2.48vh 1.38vw;
    width: fit-content;
}


/* LIBRARY */


.library {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-content);
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    margin-top: 2vh;
    
}

.library__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline; 
    margin-right: 2.21vw;
}

.library button {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    padding: 2.48vh 1.38vw;
    width: fit-content;
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-align: center;
    background-color: var(--color-bg-playlist);
    color: var(--color-secondary);
    border-radius: 1.56rem;
    font-family: var(--font-text);
    font-size: var(--font-size-title);
    font-weight: 600;
    margin: 1rem;
    padding: 0.8rem;
    height: fit-content;
}

.playlist .text {
    padding: 0.5rem;
}

.playlist .subtitle {
    font-size: var(--font-size-text);
    font-weight: 500;
}

.playlist__button {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    width: max-content;
    margin: 0.5rem 0;
}

.playlist__button span {
    color: var(--color-primary);
    padding: 1rem 1.2rem; 
    border-radius: var(--radius-button);
    background-color: var(--color-secondary);
    width: max-content;
}


.cookies a {
    color: var(--color-bg-playlist);
    margin: 1rem;
    font-weight: 400;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    text-decoration: none;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    width: fit-content;
}


.fa-globe {
    padding: 0;
}

.languages__button div {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--radius-button);
    border: 0.125rem solid var(--color-secondary)
}

.languages div:hover {
    border-color: var(--color-destaque);
}


/* HOVER */

.fa-plus:hover,
.library__head button:hover,
.languages_button:hover,
.sidebar ul li a:hover {
    color: var(--color-destaque);
}


.playlist button span:hover {
    background-color: var(--color-destaque);
}

.cookies a:hover,
.footer__content__button span:hover {
    text-decoration: underline;
}

#artistList {
    display: none;
}