/* FOOTER */

footer .footer__content {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5rem;
}


.footer__content {
    display: flex;
    background: linear-gradient(90deg, rgb(168, 4, 94) 4%, rgb(39, 72, 238) 74%); background: opacity: 85%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.footer__content__text {
    display:flex;
    flex-direction: column;
    color: var(--color-secondary);
    font-family: var(--font-text);
    justify-content: center;
    gap: 0.5rem;  
    padding:2rem; 
}

.footer-title {
    font-weight: bolder;
}

.footer__content__button {
    padding: 2rem;
}

.footer__content__button button:hover {
    border: 0.17rem solid rgb(168, 4, 94);
    color: rgb(168, 4, 94);
}

.footer__content__button button {
    font-weight: bolder;
    font-size: 1rem;
}

.footer__content__button button {
    color: var(--color-primary);
    padding: 1.24vh 2.76vw; 
    border-radius: 2rem;
    background-color: var(--color-secondary);
    width: max-content;
}




