:root {
    --color-destaque: #1ED760;
    --color-bg-destaque: #464646;
    --color-primary: #000;
    --color-secondary: #EEE;
    --color-tertiary: #101010;
    --font-text: 'Arial', sans-serif;
    --font-size-title: 1.25rem;
    --font-size-text: 0.875rem;
    --radius-content: 0.5rem;
}

/* HEADER */

.header-container {
    max-width: 60vw;
    height: 100vh;
    margin: 0 7.74vw 0 44.26vw;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.98vh 2.21vw;
    margin: 1.24vh 1.38vw;
    border-radius: 0.5rem;
    background-color: var(--color-tertiary);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    
}