:root {
    --color-destaque: #1ED760;
    --color-bg-destaque: #464646;
    --color-primary: #000;
    --color-secondary: #EEE;
    --color-tertiary: #101010;
    --font-text: 'Arial', sans-serif;
    --font-size-title: 1.25rem;
    --font-size-text: 0.875rem;
    --radius-content: 0.5rem;
}

body{
    background-color: var(--color-primary);
}

.sidebar {
    position: fixed;
    top: 1%;
    left: 1%;
    bottom: 0;
    padding: 0,75rem;
    width: 40vw;
}

.sidebar__navigation {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-content);
    padding: 1rem;
    height: fit-content;
}

.logo img{
    width: 70%;
    margin-top: 1rem;
    padding: 1.23vh 1.38vw 0 1.23vh;
}

.sidebar nav ul {
    margin: 3.09vh 0;
    padding: 0 2.21vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.75vh
}

.sidebar nav ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;;
    width: fit-content;
    padding: 1.23vh 0
}

/* ÍCONES */

.fa-solid {
    font-size: 1.25rem;
    padding: 0 1.38vw;   
}

.fa-plus {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-title);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    padding: 2.48vh 1.38vw;
    width: fit-content;
}


/* LIBRARY */


.library {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-content);
    margin-top: 1.98vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    position: fixed;
    left: 1%;
}

.library__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline; 
    margin-right: 2.21vw;
}

.library button {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    padding: 2.48vh 1.38vw;
    width: fit-content;
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align: center;
    background-color: var(--color-bg-destaque);
    color: var(--color-secondary);
    border-radius: 1.56rem;
    font-family: var(--font-text);
    font-size: var(--font-size-title);
    font-weight: 600;
    margin: 2.48vh 2.76vw;
    padding: 2.48vh 2.76vw;
    height: fit-content;
}

.playlist .text {
    padding: 0.61vh 0.69vw
}

.playlist .subtitle {
    font-size: var(--font-size-text);
    margin-bottom: 2.48vh;
    font-weight: 500;
}

.playlist__button {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    width: max-content;
}

.playlist__button span {
    color: var(--color-primary);
    padding: 1.24vh 2.76vw; 
    border-radius: 2rem;
    background-color: var(--color-secondary);
}


.cookies a {
    color: var(--color-bg-destaque);
    margin: 4.95vh 5.53vw;
    font-weight: 400;
    font-size: var(--font-size-text);
    font-family: var(--font-text);
    text-decoration: none;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    text-transform: none;
    width: fit-content;
}

.languages__button div {
    display:flex;
    align-content: flex-end;
    margin-left: 2.21vw;
    padding: 0.99vh 1.1vw 0.99vh 0;
    border-radius: 2rem;
    border: 0.125rem solid var(--color-secondary)
}

.languages__button div span {
    align-self: center;
}


/* FOOTER */

footer .footer__content {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: fit-content;

}


.footer__content {
    display: flex;
    background: rgb(255,47,160);
background: linear-gradient(90deg, rgb(168, 4, 94) 4%, rgb(39, 72, 238) 74%);
    justify-content: center;
    align-items: center;
}

.footer__content__text {
    display:flex;
    flex-direction: column;
    color: var(--color-secondary);
    font-family: var(--font-text);
    padding: 1.98vh 2.21vw;
    margin: 1.23vh 1.38vw;
    justify-content: center;
    gap: 0.62vh;
    
}

.footer__content__button {
    padding: 5%;

}

.footer__content__button button {
    color: var(--color-primary);
    padding: 1.24vh 2.76vw; 
    border-radius: 2rem;
    background-color: var(--color-secondary);
    width: max-content;
}




/* HOVER */

.fa-plus:hover,
.library__head button:hover,
.languages_button:hover,
.sidebar ul li a:hover,
.languages div:hover {
    color: var(--color-destaque);
}


.playlist button span:hover {
    background-color: var(--color-destaque);
}

.cookies a:hover,
.footer__content__button span:hover {
    text-decoration: underline;
}

