:root {
    --color-destaque: #1ED760;
    --color-primary: #000;
    --color-secondary: #EEE;
    --color-tertiary: #101010;
    --color-bg-playlist: #464646;
    --color-bg-search: #242424;
    --text-color-subscribe: #a7a7a7;
    --font-text: 'Arial', sans-serif;
    --font-size-title: 1.25rem;
    --font-size-text: 0.875rem;
    --radius-content: 0.5rem;
    --radius-button: 2rem;
    --font-size-main-title: 2rem;
    --font-size-main-subtitle: 1.3rem;
}
